
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{this.modulo?.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
            <li><b>Professor:</b>{{this.modulo?.professor}}</li>
            <li><b>Data Início:</b>{{this.modulo?.dataInicio}}</li>
            <li><b>Data Término:</b>{{this.modulo?.dataTermino}}</li>
            <li><b>Status:</b>{{this.modulo?.status}}</li>
        </ul>
      </mat-expansion-panel>
 